.App{
  text-align: center;
}

#main{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.teacher{
  border: 1px solid;
}

.checkbox-list{
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid;
}

